@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lexend Deca", Arial, Helvetica, sans-serif !important;
  font-size: 14px;
  line-height: 1.4;
  overflow-x: hidden;
  background:  radial-gradient(circle at 5% 0%, rgba(216,239,85,0.2) 15%, transparent 35%), radial-gradient(circle at 0% 0%, rgba(144,222,251,0.32) 9%, transparent 16%), radial-gradient(circle at 100% 50%, rgba(216,239,85,0.25) 5%, transparent 30%), radial-gradient(circle at 100% 50%, rgba(144,222,251,0.25) 8%, transparent 20%), radial-gradient(circle at 5% 81%, rgba(216,239,85,0.13) 11%, transparent 24%), radial-gradient(circle at 0% 84%, rgba(144,222,251,0.4) 2.5%, transparent 14%);
}

a {
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

h1,
span,
ul li {
  cursor: pointer; 
}

p {
  cursor: text;
}

ul {
  list-style: none;
}








